.banner {
    margin: 0;
    padding: 70px 15px;
    text-align: center;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    color: #fff;

    @include modifier("bg") {
        padding: 220px 15px 80px;
        position: relative;
        background-image: url("../images/banner.jpg");

        @include bg();
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
        opacity: .8;
    }

    h2 {
        font-weight: 300;
        position: relative;
        margin-bottom: 40px;

        span {
            font-weight: 700;
        }
    }

    .solid-btn {
        font-size: 18px;
        padding: 14px 40px;
        height: auto;
        background-color: #62bf72;
        border-color: #62bf72;
        position: relative;
    }

    h4 {
        position: relative;
        font-weight: 300;
        font-size: 18px;
    }
}