%btn {
    display: inline-block;
    min-width: 80px;
    padding: 4px 18px;
    height: 30px;
    border-radius: 999em;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-decoration: none;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
    outline: none;
    color: #fff;
}

.solid-btn {
    @extend %btn;

    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;

    &:hover, &:focus {
        color: #fafafa;
        border-color: #fafafa;
    }
}