/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select
{
    position: relative;

    max-width: 450px;
    margin: 20px auto;

    text-align: left;
}
.Select,
.Select div,
.Select input,
.Select span
{
    box-sizing: border-box;
}
.Select.is-disabled > .Select-control
{
    background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover
{
    box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone
{
    cursor: default;
    pointer-events: none;

    opacity: .35;
}
.Select-control
{
    position: relative;

    display: table;
    overflow: hidden;

    width: 100%;
    height: 48px;

    border-spacing: 0;
    border-collapse: separate;

    cursor: default;

    color: #333;
    border: 1px solid #ccc;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
}
.Select-control:hover
{
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
}
.Select-control .Select-input:focus
{
    outline: none;
}
.is-searchable.is-open > .Select-control
{
    cursor: text;
}
.is-open > .Select-control
{
    border-color: #b3b3b3 #ccc #d9d9d9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
}
.is-open > .Select-control > .Select-arrow
{
    border-width: 0 5px 5px;
    border-color: transparent transparent #999;
}
.is-searchable.is-focused:not(.is-open) > .Select-control
{
    cursor: text;
}
.is-focused:not(.is-open) > .Select-control
{
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 126, 255, .1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value
{
    line-height: 46px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #aaa;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label
{
    color: #333;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label
{
    cursor: pointer;
    text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus
{
    text-decoration: underline;

    color: #007eff;
    outline: none;
}
.Select-input
{
    height: 46px;
    padding-right: 10px;
    padding-left: 10px;

    vertical-align: middle;
}
.Select-input > input
{
    font-family: inherit;
    font-size: inherit;
    line-height: 28px;

    display: inline-block;

    width: 100%;
    margin: 0;
    /* For IE 8 compatibility */
    padding: 8px 0 12px;

    cursor: default;

    border: 0 none;
    outline: none;
    background: none transparent;
    box-shadow: none;
    /* For IE 8 compatibility */

    -webkit-appearance: none;
}
.is-focused .Select-input > input
{
    cursor: text;
}
.has-value.is-pseudo-focused .Select-input
{
    opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input
{
    outline: none;
}
.Select-loading-zone
{
    position: relative;

    display: table-cell;

    width: 16px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.Select-loading
{
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 16px;
    height: 16px;

    -webkit-animation: Select-animation-spin 400ms infinite linear;
         -o-animation: Select-animation-spin 400ms infinite linear;
            animation: Select-animation-spin 400ms infinite linear;
    vertical-align: middle;

    border: 2px solid #ccc;
    border-right-color: #333;
    border-radius: 50%;
}
.Select-clear-zone
{
    position: relative;

    display: none;

    width: 17px;

    cursor: pointer;
    -webkit-animation: Select-animation-fadeIn 200ms;
         -o-animation: Select-animation-fadeIn 200ms;
            animation: Select-animation-fadeIn 200ms;
    text-align: center;
    vertical-align: middle;

    color: #999;
}
.Select-clear-zone:hover
{
    color: #d0021b;
}
.Select-clear
{
    font-size: 18px;
    line-height: 1;

    display: inline-block;
}
.Select--multi .Select-clear-zone
{
    width: 17px;
}
.Select-arrow-zone
{
    position: relative;

    display: table-cell;

    width: 25px;
    padding-right: 5px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.Select-arrow
{
    display: inline-block;

    width: 0;
    height: 0;

    border-width: 5px 5px 2.5px;
    border-style: solid;
    border-color: #999 transparent transparent;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow
{
    border-top-color: #666;
}
.Select--multi .Select-multi-value-wrapper
{
    display: inline-block;
}
.Select .Select-aria-only
{
    display: inline-block;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}
@-webkit-keyframes Select-animation-fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes Select-animation-fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
.Select-menu-outer
{
    position: absolute;
    z-index: 1;
    top: 100%;

    box-sizing: border-box;
    width: 100%;
    max-height: 200px;
    margin-top: -1px;

    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);

    -webkit-overflow-scrolling: touch;
}
.Select-menu
{
    overflow-y: auto;

    max-height: 198px;
}
.Select-option
{
    display: block;

    box-sizing: border-box;
    padding: 8px 10px;

    cursor: pointer;

    color: #666;
    background-color: #fff;
}
.Select-option:last-child
{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.Select-option.is-selected
{
    color: #333;
    background-color: #f5faff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, .04);
}
.Select-option.is-focused
{
    color: #333;
    background-color: #ebf5ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, .08);
}
.Select-option.is-disabled
{
    cursor: default;

    color: #ccc;
}
.Select-noresults
{
    display: block;

    box-sizing: border-box;
    padding: 8px 10px;

    cursor: default;

    color: #999;
}
.Select--multi .Select-input
{
    margin-left: 10px;
    padding: 0;

    vertical-align: middle;
}
.Select--multi.has-value .Select-input
{
    margin-left: 5px;
}
.Select--multi .Select-value
{
    font-size: .9em;
    line-height: 1.4;

    display: inline-block;

    margin-top: 5px;
    margin-left: 5px;

    vertical-align: top;

    color: #007eff;
    border: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border: 1px solid rgba(0, 126, 255, .24);
    border-radius: 2px;
    background-color: #ebf5ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, .08);
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label
{
    display: inline-block;

    vertical-align: middle;
}
.Select--multi .Select-value-label
{
    padding: 2px 5px;

    cursor: default;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.Select--multi a.Select-value-label
{
    cursor: pointer;
    text-decoration: none;

    color: #007eff;
}
.Select--multi a.Select-value-label:hover
{
    text-decoration: underline;
}
.Select--multi .Select-value-icon
{
    padding: 1px 5px 3px;

    cursor: pointer;

    border-right: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border-right: 1px solid rgba(0, 126, 255, .24);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus
{
    color: #0071e6;
    background-color: #d8eafd;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 113, 230, .08);
}
.Select--multi .Select-value-icon:active
{
    background-color: #c2e0ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, .24);
}
.Select--multi.is-disabled .Select-value
{
    color: #333;
    border: 1px solid #e3e3e3;
    background-color: #fcfcfc;
}
.Select--multi.is-disabled .Select-value-icon
{
    cursor: not-allowed;

    border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active
{
    background-color: #fcfcfc;
}
@keyframes Select-animation-spin
{
    to
    {
        transform: rotate(1turn);
    }
}
@-webkit-keyframes Select-animation-spin
{
    to
    {
        -webkit-transform: rotate(1turn);
    }
}
