.invoice-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 40px 40px;
    height: 100%;
    width: 280px;
    background-color: #fff;
    border-top: 1px solid #f6f6f6;
    box-shadow: 2px 0px 4px 0 rgba(156,156,156,0.2);
    color: #555;

    h4 {
        font-weight: 700;
        font-size: 16px;
    }

    hr {
        margin-top: 0;
        margin-bottom: 0;
        border: 1px solid #f2f2f2;
        width: 100%;
        border-top: 0;
    }

    @include element("element") {
        margin: 10px 0 10px;

        .setting {
            padding: 10px 0;

            span {
                font-weight: 700;
                font-size: 14px;
            }

            > input {
                width: 100%;
                margin-top: 10px;
                border: 1px solid #D2D8DE;
                border-radius: 2px;
            }

            > input[type=text] {
                padding: 5px 10px;
                font-size: 14px;
                font-weight: 300;
                color: #555;
                letter-spacing: .003em;
            }

            @include modifier("inline") {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 8px;
            }

            .Select {
                max-width: 200px;
                width: 100%;
                font-weight: 400;
                margin: 10px auto;

                .Select-input {
                    height: 32px;
                }
                
                .Select-placeholder {
                    line-height: 32px;
                }

                .Select-control {
                    height: 32px;
                    border-radius: 3px;

                    .Select-value {
                        line-height: 32px;
                    }
                }

                .Select-value-label {
                    font-weight: 400;
                }
            }
        }
    }
}