body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden !important;
}


// %heading {
//     color: rgb(96, 92, 98);
//     margin: 0;
//     font-family: 'Open Sans', sans-serif;
//     font-weight: 300;
//     line-height: 53px;
// }

// h1 {
//     @extend %heading;
//     font-size: 48px;
// }

// h2 {
//     @extend %heading;
//     font-size: 32px;
// }

a {
    outline: none;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus {
        outline: none;
        text-decoration: none
    }
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, textarea {
    outline: none;
    text-decoration: none;
    &:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
    }
}

::-webkit-input-placeholder { /* Chrome */
    color: #666;
    font-size: 14px;
    font-weight: 300px;
}
    :-ms-input-placeholder { /* IE 10+ */
    color: #666;
    font-size: 14px;
    font-weight: 300px;
}
    ::-moz-placeholder { /* Firefox 19+ */
    color: #666;
    font-size: 14px;
    font-weight: 300px;
    opacity: 1;
}
    :-moz-placeholder { /* Firefox 4 - 18 */
    color: #666;
    font-size: 14px;
    font-weight: 300px;
    opacity: 1;
}

.undo-box-sizing * {
    box-sizing: initial;
}
